
  
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tablet.css">
</head>

<body>

   

  
    <main>

        {{{body}}}
    </main>

   

    <!-- Footer -->
    <footer>
        
    </footer>
    <!-- Footer -->

    <!-- Scripts -->
    <script src="/js/nav.js"></script>
    <script src="/js/main.js"></script>
    <!-- Scripts -->
</body>
