 <!-- Nav -->
    <div id="nav-logo">
        <!-- <a>Amazon</a> -->
        <img src="https://i.insider.com/539f3ffbecad044276726c01?width=1100&format=jpeg&auto=webp" alt="">
    </div>
    <ul id="nav-bar">
        <li class="nav-item"><a href="index.html">Home</a></li>
        <li class="nav-item"><a href="pages/products.html">Products</a></li>
        <li class="nav-item"><a href="pages/signup.html">Sign Up</a></li>
        <li class="nav-item"><a href="pages/login.html">Log In</a></li>
    </ul>
     <!-- Promotional Banner -->
    <div class="promo-banner">
        <div class="promo-image">
            <h1>See What's Hot</h1>
            <p>Get the BEST Gaming Gear and beat the competition!</p>
            <button>Find Out More</button>
        </div>
    </div>
    <!-- Promotional Banner -->

    