<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/tablet.css"">
</head>

<body>
   <!-- Nav -->
    <div id="nav-logo">
        <!-- <a>Amazon</a> -->
        <img src="https://i.insider.com/539f3ffbecad044276726c01?width=1100&format=jpeg&auto=webp" alt="">
    </div>
    <ul id="nav-bar">
        <li class="nav-item"><a href="index.html">Home</a></li>
        <li class="nav-item"><a href="pages/products.html">Products</a></li>
        <li class="nav-item"><a href="pages/signup.html">Sign Up</a></li>
        <li class="nav-item"><a href="pages/login.html">Log In</a></li>
    </ul>
     <!-- Promotional Banner -->
    <div class="promo-banner">
        <div class="promo-image">
            <h1>See What's Hot</h1>
            <p>Get the BEST Gaming Gear and beat the competition!</p>
            <button>Find Out More</button>
        </div>
    </div>
    <!-- Promotional Banner -->

    
     <!-- Product Category -->
    <h1 class="title-text">Product Category</h1>
    <ul id="products-category-view">
        <li class="product-category">
            <h1 class="pro-cat-text">
                Electronics & Accessories
            </h1>
            <img src="/public/img/01.jpg" alt="Category Image">
            <a href="">Click Here</a>
        </li>
        <li class="product-category">
            <h1 class="pro-cat-text">
                Revamp Your Home
            </h1>
            <img src="/public/img/02.jpg" alt="Category Image">
            <a href="">More Decor</a>
        </li>
        <li class="product-category">
            <h1 class="pro-cat-text">
                Cyber Monday
            </h1>
            <img src="/public/img/03.jpg" alt="Category Image">
            <a href="">Play Now!</a>
        </li>
        <li class="product-category">
            <h1 class="pro-cat-text">
                Fitness Friday
            </h1>
            <img src="/public/img/04.jpg" alt="Category Image">
            <a href="">Click Here</a>
        </li>
    </ul>
    <button class="view-more-btn">View More</button>

     <!-- Best Sellers -->
    <h1 class="title-text">Best Sellers</h1>
    <div class="best-sellers">
        <div class="best-item">
            <a href="">
                <img src="/public/img/05.jpg" alt="best item">
            </a>
        </div>
        <div class="best-item">
            <a href="">
                <img src="/public/img/05.jpg" alt="best item">
            </a>
        </div>
        <div class="best-item">
            <a href="">
                <img src="/public/img/05.jpg" alt="best item">
            </a>
        </div>
        <div class="best-item">
            <a href="">
                <img src="/public/img/05.jpg" alt="best item">
            </a>
        </div>
        <div class="best-item">
            <a href="">
                <img src="/public/img/05.jpg" alt="best item">
            </a>
        </div>
        <div class="best-item">
            <a href="">
                <img src="/public/img/05.jpg" alt="best item">
            </a>
        </div>
        <div class="best-item">
            <a href="">
                <img src="/public/img/05.jpg" alt="best item">
            </a>
        </div>
        <div class="best-item">
            <a href="">
                <img src="/public/img/05.jpg" alt="best item">
            </a>
        </div>
    </div>
    <button class="view-more-btn">View More</button>
    <!-- Best Sellers -->

   

    <!-- Footer -->
    <footer>
        
    </footer>
    <!-- Footer -->

    <!-- Scripts -->
    <script src="/js/nav.js"></script>
    <script src="/js/main.js"></script>
    <!-- Scripts -->
</body>
