


<div class="objlit">


    {{#each data}}

    <div>
         TItle : {{this.title}}
         Description: {{this.description}}
         Price: {{this.price}}  
         <img src = "/public/img/{{thisimgPath}}">
    </div>


    {{/each}} 



</div>