
<h2> product listing page</h2>



<div class="container">

{{#each data}}

<div class="">


    Title : {{this.title}}
    Description: {{this.description}}
    price: {{this.price}}
    <img src="/img/{{this.imgPath}}">
</div>

</div>


